*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
#Encabezado{
    background-color: rgb(94, 235, 0);
    display: flex;
    padding: 1%;
}
#logo{
    background-color: gray;
    border: 1px black solid;
    margin-right: 35%;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}
#nombreEmpresa{
    background-color: gray;
    border: 1px black solid;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
}
#BarraNavegacion{
    background-color: rgb(78, 233, 6);
    display: flex;
    margin-top: 2px;
    padding: 10px;
}
.opcion{
    background-color: gray;
    border: 1px black solid;
    margin-right: 12%;
    margin-left: 5%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%; 
}
#Cuerpo{
    background-color: rgb(7, 7, 161);
    color: white;
    display: flex;
    text-align: center;
    margin-top: 1%;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 10%;
}
#historia{
    padding-left: 10px;
    margin-top: 3%;
    flex: 30%;
}
#imagen{
    background-color: whitesmoke;
    margin-left: 1%;
    margin-top: 3%;
    color: black;
    flex: 20%;
    border: 1px black solid;
    padding-top: 8%;
}
#Aquenosdedicamos{
    padding-left: 10px;
    margin-top: 3%;
    flex: 30%;
}
#Footer{
    display: flex;
    background-image: url("https://img.freepik.com/vector-gratis/fondo-negro-degradado-cubos_23-2149161843.jpg");
    margin-top: 2%;
    padding: 3%;
    color: white;
}
#logofooter1{
    border: 1px black solid;
    margin-right: 25%;
    padding: 25px;
    background-color: gray;
    color: black;
}
.textofooter{
    margin-right: 2%;
    padding: 25px;
}
#logofooter2{
    border: 1px black solid;
    margin-left: 25%;
    padding: 25px;
    background-color: gray;
    color: black;
}
a {
    color: gray;
    text-decoration: none;
}
html, body {
    height: 100%;
}